# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Node 
node_modules/
npm-debug.log*

# Build folders (future proof)
dist/
build/
